<%- layout('../templates/login.ejs') %>

    <body>
        <div class="container">
            <div class="row">
                <!--formulario-->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card body">
                            <form action="/agregarcliente" method="post">
                                <div class="form-group">
                                    <input type="text" name="cedula" placeholder="inserte el numero de cedula"
                                        class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="text" name="nombre" placeholder="cual es tu nombre"
                                        class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="ingresa tu direccion "
                                        class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="text" name="telefono" placeholder="inserte el numero de telefono"
                                        class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="text" name="correo" placeholder="ingresa tu correo "
                                        class="form-control">

                                </div>

                                <button type="submit" class="btn btn-primary btn-block">
                                    Agregar

                                </button>
                            </form>

                        </div>
                    </div>

                </div>

                <!--Lista-->
                <div class="col-md-7">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Numero </th>
                                <th>Cedula </th>
                                <th>Nombre </th>
                                <th>Direccion </th>
                                <th>Telefono </th>
                                <th>Correo </th>
                                <th>Operaciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < clientes.length; i++) {%>
                                <tr>
                                    <td>
                                        <%= i + 1 %>
                                    </td>
                                    <!--muestrame los datos de uno en uno-->
                                    <td>
                                        <%= clientes[i].cedula%>
                                    </td>
                                    <td>
                                        <%= clientes[i].nombre%>
                                    </td>
                                    <td>
                                        <%= clientes[i].direccion%>
                                    </td>
                                    <td>
                                        <%= clientes[i].telefono%>
                                    </td>
                                    <td>
                                        <%= clientes[i].correo%>
                                    </td>
                                    <td>
                                        <a href="/eliminarcliente/<%= clientes[i]._id%>"
                                            class="btn btn-danger btn-block">Eliminar</a>
                                        <a href="/editcliente/<%= clientes[i]._id%>"
                                            class="btn btn-info btn-block">Editar</a>
                                    </td>
                                </tr>

                                <% } %>
                                    <!--recorreme los clientes-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>